<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirm Delete!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" *ngIf="post">
        <div class="text-center text-danger" *ngIf="error">{{error}}</div>
        Please confirm that you want to delete the following post: <br />
        {{post.id}}. {{post.title}}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-danger" (click)="deleteAction()" [disabled]="loading">
          <span *ngIf="loading">Loading...</span>
          <span *ngIf="!loading">Delete</span>
        </button>
      </div>
    </div>
  </div>
</div>
